:root {
  --color-azul-escuro-principal: #141b29;
  --color-azul-claro: #e6e9f0;
  --color-nav: #192233;
  --color-roxo: #6E3DC8;
  --color-azul-bebe: #6781F7;
  /* --color-fundo:#192233; */
  --color-claro: #F5F5F5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-info{
    color: var(--color-azul-claro);;
    padding: 14px;
    font: 1rem 'Kdam Thmor Pro';
  }